!!!
%html
  %head
    %title= yield(:title) + " - VAKKO"
    = stylesheet_link_tag    "//cloud.typography.com/7210072/723564/css/fonts.css", :media => "all"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "shared/primary_menu"
    #content-area
      = yield

    :javascript
      $(document).ready(function($) {
        // initialize slider and save it's object
        $('.primary-slider').royalSlider({
          // options
          keyboardNavEnabled: true,
          imageScalePadding: 0,
          arrowsNav: false,
          controlNavigation: 'bullets',

          usePreloader: false,
          slidesSpacing:0,
          fadeinLoadedSlide: true,
          addActiveClass: true,
          arrowsNavAutoHide: false,
          controlsInside: true
        });
        
        var slider = $('.primary-slider').data('royalSlider');
        
        //prev/next buttons
        slider.ev.on('rsAfterSlideChange', function(event) {
            // triggers after slide change
          setActiveSliderNav();
        });
        $('#slider-next').click(function() {
          slider.next();
        });
        $('#slider-prev').click(function() {
          slider.prev();
        });
      });  
  
